:root {
   --gap: 0.4rem;
   --masonry-grid-gap: clamp(1rem, 2vw, 2rem);
   --masonry-grid-margin: clamp(1rem, 4vw, 8rem);
}

main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: var(--space) 0 calc(var(--space) * 2);
   text-align: center;
   gap: var(--space);
}

main .container {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   gap: calc(var(--gap) * 2);
   max-width: 600px;
}

main .container #title {
   font-size: var(--large-font-size);
   letter-spacing: 0.1rem;
}

main .container #date {
   font-size: var(--small-font-size);
   font-weight: 500;
}

#grid {
   display: flex;
   margin: 0 var(--masonry-grid-margin);
   gap: var(--masonry-grid-gap);
}

#grid .column {
   display: flex;
   flex-direction: column;
   flex: 1;
   gap: var(--masonry-grid-gap);
}

#grid .album {
   display: flex;
   flex-direction: column;
   padding-bottom: var(--gap);
   gap: var(--gap);
   overflow: hidden;
   background-color: var(--background-color);
   border-radius: 12px;
}

#grid .album .title {
   font-size: calc(var(--regular-font-size) * 1.1);
   font-weight: 500;
}

#grid .album .date {
   font-size: var(--small-font-size);
   opacity: 0.6;
}

#show-more-btn {
   margin: 0 auto;
   padding: 12px 32px;
   font-size: 15px;
   font-weight: 600;
   letter-spacing: 1px;
   color: #fff;
   border-radius: 25px;
   background-color: #000;
}